*{
    box-sizing: border-box;
    width: 100%;
    border: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    width: 100%;
    border-top: 5px solid lightblue;
    border-bottom: 1px solid lightblue;
}
ul{
    list-style-type: none;
    display: flex;
}
h1{
    color: lightblue;
    font-size: 32px;
    font-family: cursive;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}
.yellow{
    color: yellow;
}
li{
    font-size: 14px;
}
.small-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 15px;
}

@media screen and (max-width:850px){
    /* 480 */
    section{
        display: block;
        flex-direction: column;
    }
    nav{
        display: block;
    }
}